* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content:"";
    display: table;
    clear: both;
}

body {
    font-family: 'Roboto', sans-serif;
}
.blu {
    background-color: rgb(13,50,90);
    color: white;
}

.grigio {
    background-color: #d3d3d3;
    height: 100px;
}

.bianco {
    background-color: white;

}

.container {
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
    height: 100%;

}

.container-fullwidth.blu .container {
    background-image: url("https://cdn.fluentify.com/bundles/fluentifypublic/images/r4b/01/oldman.png");
    background-position: right bottom;
    background-size: 75% auto;
    background-repeat: no-repeat;
}

nav {
    height: 70px;
    text-transform: uppercase;
}

.immagine-fluentify {
    width: 15%;
    float: left;
    height: 100%;
    position: relative;
}

.immagine-fluentify img {
    position: absolute;
    top: 40%;
    transform: translate(0, -50%);
}

.collegamenti {
    float: left;
    width: 50%;
}

.login {
    float: left;
    width: 35%;
}

li {
    display: inline;
    line-height: 70px;
    padding: 10px;
    font-size: 10px
}

.button-blu {
    background-color: rgb(13,50,90);
    border: 1px solid white;
    border-radius: 5px;
    font-size: 9px;
    color: white;
    padding: 4px 16px;
    text-align: center;
    display: inline-block;
    text-transform: uppercase;
}

.button-verde {
    background-color: rgb(127,184,2);
    border-radius: 5px;
    font-size: 9px;
    color: white;
    padding: 5px 4px;
    text-align: center;
    display: inline-block;
    text-transform: uppercase;
    border: none
}

.banner {
    width: 50%;
    height: 330px;
    font-size: 20px;
    position: relative;
    /* da concellare */
    /* border: 1px solid white; */
}

.testo {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

.testo button {
    background-color: rgb(127,184,2);
    border-radius: 5px;
    font-size: 11px;
    color: white;
    padding: 12px 10px;
    text-align: center;
    display: inline-block;
    text-transform: uppercase;
    margin-top: 25px;
    border: none;
}

.container-fullwidth.grigio .container {
    position: relative;
}

.barra-grigia {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 14px;
}

.barra-grigia p {
    color: rgb(153,153,153);
    padding-top: 5px;
    font-size: 12px;
}

.box {
    width: 33.3333%;
    float: left;
    position: relative;
    padding: 10px;

    /* da cancellare */
    border: 1px solid white;
    height: 100%;

}

.immagine img {
    width: auto;
    height: 160px;
    display: block;
    margin: 20px auto;

}


.titolo-box {
    text-align: center;
    margin-top: 20px;
}

.titolo-box h3 {
    padding-bottom: 20px;
    color: rgb(131,184,2);
    font-size: 22px;
}

.titolo-box hr {
    width: 20%;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

.titolo-box p {
    padding-top: 20px;
    color: rgb(153,163,179);
    font-size: 13px;

}
